<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/article/comment/{{id}}">
            <fieldset>
                <legend>Please, comment the article!</legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="userName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" required name="fullName" value={{user.fullName}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="message">Comment</label>
                    <div class="col-sm-4 ">
                        <textarea class="form-control" id="comment" name="comment" rows="10" required value="{{comment}}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href="/" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>